body {
  background: black;
  border: none;
  margin: 5px;
}

:root {
  --color-add: #85f185;
  --color-remove: #ff5959;
  --color-stay: #3e4d67;
  --background-add-hover: #85f1857a;
  --background-remove-hover: #ff59597a;
}

.add {
  color: var(--color-add);
  border: none;
}
.add:hover {
  color: white;
  font-weight: 900;
  background-color: var(--background-add-hover);
}
svg:hover {
  fill: white;
  stroke: white;
}
.remove {
  color: var(--color-remove);
  border: none;
}
.remove:hover {
  color: white;
  font-weight: 900;
  background-color: var(--background-remove-hover);
}
#main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 97vh;
}
#addChanges,
#removeChanges {
  height: 100%;
}
.diff {
  font-family: 'Roboto Mono', monospac;
  font-size: 15px;
  color: var(--color-stay);
  overflow: auto;
  border: solid 0.5px grey;
  padding: 5px;
}

.button {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
#toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5px;
  padding-right: 5px;
}
textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  resize: none;
  font-family: 'Roboto Mono', monospac;
  color: var(--color-stay);
  font-size: 15px;
  width: 100%;
  background: transparent;
  border: none;
  height: 95vh;
  max-height: 95vh;
  padding: 0;
}
.stay-add,
.stay-remove {
  opacity: 0.8;
}
.stay-add:hover,
.stay-remove:hover {
  color: #7486a6;
  opacity: 1;
}

#Remove {
  border-color: var(--color-stay);
  width: 50vw;
  height: 95vh;
  max-height: 95vh;
}

#Add {
  border-color: var(--color-stay);
  width: 50vw;
  height: 95vh;
  max-height: 95vh;
}

#reset {
  display: none;
}
